@{
    Layout = "";
}
@model Nop.Plugin.Payments.ZonaVirtual.Models.ConfigurationModel
@using Nop.Plugin.Payments.ZonaVirtual.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })


@using (Html.BeginForm())
{
    <table class="adminContent">

        <tr>
            <td colspan="2" width="100%">
                <hr />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.NombreTienda):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.NombreTienda)
                @Html.ValidationMessageFor(model => model.NombreTienda)
               
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.RutaTienda):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.RutaTienda)
                @Html.ValidationMessageFor(model => model.RutaTienda)
              
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ID_Tienda):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ID_Tienda)
                @Html.ValidationMessageFor(model => model.ID_Tienda)
              
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ID_Clave):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ID_Clave)
                @Html.ValidationMessageFor(model => model.ID_Clave)
               
            </td>
        </tr>
     
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>

}
